.portfolio_section {
    background-image: url('../../img/portfolio-section-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.portfolio_section::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 2px;
        z-index: 351;  
}
