.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100px;
    max-height: 200px;
}

.nav__item {
    float: left;
}

.nav__item:nth-child(2),
.nav__item:last-child {
    margin-left: 30px;
}

.nav__item a {
    text-decoration: none;
    font-family: "Bazar";
    font-weight: 500;
    text-transform: uppercase;
    color: #f9ebd9;
    font-size: 1.5em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.nav__item.logo {
    width: 10%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.nav__item.logo a {
    font-family: "Seaside-Resort-NF";
    color: #f6edd8;
    font-size: 3.5em;
}

.logo_badge {
    background-image: url('../../../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 15px;
    z-index: 999;
}

/* Cellphones */

@media only screen and (max-device-width: 540px) {
    .nav__item.logo a {
        font-size: 2em;
    }

    .nav__item {
        display: none;
    }

    .nav__item.logo {
        visibility: visible;
    }

    .nav::before {
        content:"";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 20px;
        background-image: url('../../../img/menu.svg');
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .nav__item.logo a {
        font-size: 2em;
    }

    .nav__item {
        display: none;
    }

    .nav__item.logo {
        visibility: visible;
    }

    .nav::before {
        content:"";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 20px;
        background-image: url('../../../img/menu.svg');
    }
}

/* Tablets */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .nav {
        align-content: space-around;
        justify-content: space-around;
        align-items: center;
    }

}